html {
  background-color: rgb(236, 236, 236);
}

img{
max-width: 300px;
}

nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-width: auto;
  justify-items: center;
  padding: 10px;
}

table {
  border: 2px solid;
  border-color: navy;
  width: 100%;
  max-width: 800px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: navy;
  color: white;
}

td {
  border: 1px solid navy;
  padding: 8px;
}

tr:hover {
  background-color: coral;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  transition: 1s;

}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transition-delay: 1s;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
}

.dropdown {
  position: absolute;
  display: inline-block;
  transition-delay: 0s;
}

ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:navy;
}

ul.horizontal li a {
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 10px 25px;
    text-decoration: underline;
}