{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>LOG IN! DO IT NOW! WHAT ARE YOU WAITING FOR?!?!</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button>GET ORGANIZED!</button>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}