{% extends 'base.html' %}
{% load upcomingtasks %}

{% block content %}
    <main>
        <div>
            <h2>Upcoming Tasks Due</h2>
            {% if True %}
            {% for task in task_list %}
            {{ task.due_date|upcoming }}
            {% endfor %}
            {% else %}
            <img src="https://memegenerator.net/img/instances/78104397.jpg" style="align: left;">
            <p>
                Wow... nice job, no upcoming tasks. It appears you're an overachiever. 
                Thanks for making everyone feel bad. 
            
            </p>
            {% endif %}
        </div> 
            <h2>My Projects</h2> 
            <div class="tooltip">
                <span><a href="{% url 'create_task' %}">Create A Lot More Work</a></span>
                    <p class= "tooltiptext">Don't have enough unfinished work? Create a new project ya psycho!</p>
            </div>
            {% if projects %}
                <table>
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td> <a href="{% url 'show_project' project.pk %}">{{ project.name }}</a> </td>
                                <td> {{ project.description }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
            <div>
                <canvas id="myChart" width="400" height="400"></canvas>
                <script>
                    var ctx = document.getElementById("myChart");
                    var myChart = new Chart(ctx, {
                      type: 'pie',
                      data: {
                        labels: ['Uncomplete', 'Urgent', 'Complete'],
                        datasets: [{
                          label: '# of Tomatoes',
                          data: [6, 1, 1],
                          backgroundColor: [
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)'
                          ],
                          borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)'
                          ],
                          borderWidth: 1
                        }]
                      },
                      options: {
                           //cutoutPercentage: 40,
                        responsive: false,
                    
                      }
                    });
                </script>
            <div>
            {% if task_list %}
            <p></p>
                <h2>My Tasks</h2>
            <p></p>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_list %}
                            <tr>
                                <td> {{ task.name }} </td>
                                <td> {{ task.start_date|date:"D, M d y" }} </td>
                                <td> {{ task.due_date|date:"D, M d y" }} </td>
                                <td>
                                    {% if task.is_completed == False %}
                                        <form method="post" action="{% url 'complete_task' task.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="is_completed" value="True">
                                            <button>Complete</button>
                                        </form>
                                    {% else %}
                                        Done
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
